extends layout

block content
  .title
    p= ''
    a.title-name(href='/') mini messages
    a.new-post(href='/new') New Post
  .message-wrapper
    .message-margin
      each message in messages
        .message-box 
          h1.message-name= message.user
          p.message-text= message.text 
          p.message-date= message.added

  
