*{margin:0; padding:0;}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: contents;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

.title {
  height: 100px;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title a {
  font-size: 28px;
  text-decoration: none;
  color: white;
}

.content-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
}


@media screen and (max-width: 1000px) {
  .form {
    width: 400px !important;
  }

  .message-content {
    width: 400px !important;
  }

  .text-areas {
    width: 400px !important;
  }
}


.name {
  background-color: aliceblue;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid lightskyblue;
  width: 100%;
}


.text-areas {
  padding: 20px;
  background-color: aliceblue;
}



.message-content {
  resize: none;
  width: 702px;
  height: 200px;
  background-color: aliceblue;
  border: none;
}

.submit {
  width: 700px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  font-size: 1rem;
  padding: 15px 50px 15px 50px;
  border: none;
  background-color: lightskyblue;
  color: white;
  cursor: pointer;
}

